@use './mixins' as m;

.hidden {
  display: none !important;
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.page__anchor {
  // screen 365
  // max-width = 317
  padding-inline: max(24px, 6.4vw);
  @include m.media-tablet {
    // max-width: 689px;
    // screen 768
    padding-inline: max(39px, 5.6vw);
  }
  @include m.media-desktop {
    // max-width: 1110px;
    // screen 1440
    padding-inline: 165px;
  }
}
