@use '../../../scss/utils/mixins' as m;
.img-easy-to-implement {
  position: relative;
  height: 209px;
  width: 328px;
  @include m.media('tablet') {
    height: 250px;
    width: 391px;
  }
  @include m.media('desktop') {
    height: 284px;
    width: 445px;
  }
  &::after {
    position: absolute;
    content: '';
    top: -19.5%;
    left: -12.5%;
    height: 157%;
    width: 156%;
    background-image: url('../../../assets/home/desktop/illustration-easy-to-implement.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}
