@use '../utils/mixins' as m;

:root {
  --fnt-primary-size: 15px;
  --fnt-primary-line-height: 28px;
  --fnt-primary-family: 'Public Sans', sans-serif;
  --fnt-secondary-family: 'DM Serif Display', serif;
  --fnt-family: 'League Spartan', sans-serif;
}

p {
  line-height: 28px;
}
.h1,
.h2 {
  color: var(--clr-sec-blue-dark);
}
.h1 {
  font-family: var(--fnt-secondary-family);
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.25px;
  @include m.media('tablet') {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.37px;
  }
  @include m.media('desktop') {
    font-size: 72px;
    line-height: 74px;
    letter-spacing: -0.55px;
  }
}
.h2 {
  font-family: var(--fnt-secondary-family);
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.25px;
  @include m.media('desktop', 'tablet') {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.37px;
  }
}
.h3-small {
  font-family: var(--fnt-primary-family);
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.14px;
}

.h4 {
  font-family: var(--fnt-secondary-family);
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.18px;
  color: var(--clr-primary-pink);
  @include m.media('desktop', 'tablet') {
    line-height: 40px;
  }
}

.h3 {
  font-family: var(--fnt-secondary-family);
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.18px;
  color: var(--clr-sec-blue-dark);
  @include m.media('desktop', 'tablet') {
    line-height: 40px;
    letter-spacing: -0.25px;
  }
}
