@use '../scss/utils/mixins' as m;
@use '../scss/base/colors' as c;

// .section,
// .section * {
//   // outline: 1px solid red;
//   // background-color: hsla(0, 0, 0, 0.1);
// }

.main {
  display: flex;
  flex-direction: column;
}

.section {
  display: grid;
  grid-template-areas:
    'top'
    'bottom';
  grid-template-columns: 1fr;
  row-gap: 24px;
  justify-items: center;
  @include m.media('tablet') {
    row-gap: 48px;
  }
  @include m.media('desktop') {
    grid-template-areas: 'section-left section-right';
    align-content: center;
    align-items: center;
    justify-items: start;
  }

  a {
    font-weight: bold;
    @include m.hover-animate-property(color);
  }
  a:hover {
    color: var(--clr-sec-blue-dark);
  }
}

.section__image__area_right {
  grid-area: top;
  @include m.media('desktop') {
    grid-area: section-right;
  }
}

.section__image__area_left {
  grid-area: top;
  @include m.media('desktop') {
    grid-area: section-left;
  }
}

.section__description__area_left {
  grid-area: bottom;
  @include m.media('desktop') {
    grid-area: section-left;
  }
}

.section__description__area_right {
  grid-area: bottom;
  @include m.media('desktop') {
    grid-area: section-right;
  }
}

.section__description_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include m.media('desktop') {
    align-items: flex-start;
    text-align: left;
  }
}
