@use '../../../scss/utils/mixins' as m;

.section[data-section='four'] {
  position: relative;
  padding-bottom: 80px;
  @include m.media('tablet') {
    padding-bottom: 100px;
  }
  @include m.media('desktop') {
    padding-bottom: 146px;
  }
}

.section__description_container[data-section='four'] {
  row-gap: 24px;
  @include m.media('tablet') {
    width: 573px;
  }
  @include m.media('desktop') {
    width: 445px;
  }
  @include m.media('mobile') {
    h2 {
      margin-top: calc(48px - 24px);
    }
  }
}
