@use '../base/colors';

body {
  overflow-x: hidden;
}
header {
  background-color: var(--clr-primary);
  background-image: url('../../images/bg-header-mobile.svg');
  background-size: cover;
  background-repeat: repeat;
  width: 100vw;
  height: 9.75rem;
  z-index: -100;
}

@media (min-width: 800px) {
  header {
    background-image: url('../../images/bg-header-desktop.svg');
  }
}
