@use '../scss/utils/mixins' as m;

.background_pattern[data-page='home'] {
  position: absolute;
  top: 0;
  left: 0;
  $pattern-width: 780px;
  max-width: $pattern-width;
  transform: translateX(calc(100vw - $pattern-width + 140px)) translateY(-172px);
  transition: transform 1s ease-out 0ms;
  z-index: -100;
  @include m.media('tablet', 'mobile') {
    transform: translateX(calc((100vw - $pattern-width) / 2)) translateY(-663px);
  }
}
