@use '../../../scss/utils/mixins' as m;
.img_phone_mockup {
  position: relative;
  height: 240px;
  width: 128px;
  // Note: using aspect-ratio: 0.53 doesn't properly propagate the other dimension
  @include m.media('tablet') {
    height: 300px;
    width: 159px;
  }
  @include m.media('desktop') {
    height: 500px;
    width: 265px;
    margin-right: 94px;
  }
}

.img_phone_mockup::after {
  position: absolute;
  content: '';
  top: -11%;
  left: -20%;
  height: 132%;
  width: 160%;
  background-image: url('../../../assets/home/desktop/illustration-phone-mockup.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
