@use '../../scss/base/colors' as c;

.checkbox__container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 26px;
  height: 50px;
  color: c.$clr-sec-blue-dark;
}

.checkbox__label {
  user-select: none;
}

.checkbox__emulated {
  min-width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(c.$clr-sec-blue-dark, 0.25);
}

.checkbox__input:checked ~ .checkbox__emulated {
  background-image: url('../../assets/shared/desktop/icon-check.svg');
  background-color: var(--clr-primary-pink);
}

.checkbo__input:disabled ~ .input__checkbox_emulated {
  background-color: var(--clr-primary-white);
}
