@use '../../../scss/utils/mixins' as m;

.easy-to-implement__section {
  padding-block: 80px;
  @include m.media('tablet') {
    padding-block: 100px;
  }
  @include m.media('desktop') {
    padding-block: 150px;
  }
}

.easy-to-implement__container {
  row-gap: 24px;
  @include m.media('tablet') {
    width: 573px;
  }
  @include m.media('desktop') {
    width: 445px;
    margin-right: 94px;
  }
  @include m.media('mobile') {
    h2 {
      margin-top: calc(48px - 24px);
    }
  }
}
