@use '../../scss/utils/mixins' as m;

$pattern-width: 780px;

.background_pattern {
  position: absolute;
  max-width: $pattern-width;
  width: $pattern-width;
  height: $pattern-width;
}

// + position relative in the header scss
.background_pattern[data-page='home'] {
  z-index: -1;
  left: calc((100vw - $pattern-width) / 2);
  top: -550px;
  @include m.media('tablet') {
    width: 949px;
    height: 949px;
    max-width: 949px;
    left: calc((100vw - 949px) / 2);
    top: -663px;
  }
  @include m.media('desktop') {
    top: -172px;
    right: -140px;
    left: revert;
    clip-path: path('M 0 0 L 640 0 L 640 780 L 0 780 L 0 0');
  }
}

// + position relative in the header scss
.background_pattern[data-page='other'] {
  z-index: -1;
  top: -644px;
  right: -489px;
  @include m.media('tablet') {
    right: -517px;
    top: -464px;
  }
  @include m.media('desktop') {
    right: -140px;
    top: -572px;
    clip-path: path('M 0 0 L 640 0 L 640 780 L 0 780 L 0 0');
  }
}

// in order to work, requires
//   position: relative;
//   overflow: hidden
// in WhoWeWorkWith.module.scss
.background_pattern[data-page='home-we-work'] {
  left: -235px;
  top: -359px;
  @include m.media('tablet') {
    left: calc((100vw - $pattern-width) / 2);
    top: -548px;
  }
  @include m.media('mobile') {
    left: calc((100vw - $pattern-width) / 2);
    top: -602px;
  }
}

// in order to work, requires
//   position: relative;
// in SimpleUI.module.scss
.background_pattern[data-page='home-simple-ui'] {
  display: none;
  @include m.media('desktop') {
    display: inline;
    right: calc($pattern-width / 2 * (-1));
    top: -150px;
    left: unset;
    clip-path: path('M 0 0 L 390 0 L 390 780 L 0 780 L 0 0');
  }
}
